*{
    margin: 0px;
    padding: 0px;
    font-family: lexend;
}
body{
    width: 100vw;
    height: 100vh;
    position: static;
}
.active0{
    display: inline-flex;
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: #ffffff;
}
.sidebar{
    width: 320px;
    height: 1024px;
    background: #ffffff;
}
.rectangle0{
    width: 320px;
    height: 1023px;
    position: relative;
    background: #ffffff;
}
.contents{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    width: 320px;
    height: 496.52px;
    gap: 60px;
}
.logo{
    width: 320px;
    height: 93px;
    background: #ffffff;
}
.logo h1{
    width: 195px;
    height: 45px;
    padding: 24px 63px 24px 62px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #ba5112;
}
.optsandbtn{
    display:inline-grid;
    width: 318px;
    height: 344px;
    gap: 80px;
}
.addtaskbtn{
    width: 220px;
    height: 68px;
    gap: 10px;
    cursor: pointer;
}
.rectangle1{
    width: 220px;
    height: 68px;
    position: relative;
    left: 49px;
    border-radius: 12px;
    background:#ffffff;
    box-shadow: 0px 0px 20px 0px #0000001A;
}
.addtask{
    display: inline-flex;
    position: absolute;
    top: 16px;
    left: 28px;
    width: 164px;
    height: 36px;
    gap: 40px;
}
.addtask p{
    width: 88px;
    height: 25px;
    margin-top: 5.5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #251814;
}
.addbtn{
    position: relative;
    right: 0px;
    width: 36px;
    height: 36px;
    top: 0px;
    gap: 10px;
}
.ellipse{
    width: 36px;
    height: 36px;
    border: 0px solid;
    background: #ba5112;
    border-radius: 36px 36px 36px 36px;
}
.add{
    position: absolute;
    top: 17.88px;
    left: 12px;
    width: 12px;
    height: 12px;
}
.line2{
    width: 12px;
    border-top: 2px solid #ffffff;
}
.line1{
    position: relative;
    left: 5px;
    bottom: 6px;
    height: 12px;
    border-left: 2px solid #ffffff;
}
.opts{
    display: inline-grid;
    width: 318px;
    height: 196px;
    gap: 32px;
}
.dashboard{
    width: 318px;
    height: 44px;
    background: #ffffff;
    cursor: pointer;
}
.dashboard p{
    width: 86px;
    height: 20px;
    padding: 12px 116px 12px 116px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #251814;
}
.active{
    width: 318px;
    height: 44px;
    background: #edb046;
    cursor: pointer;
}
.active p{
    width: 49px;
    height: 20px;
    padding: 12px 135px 12px 134px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #251814;
}
.completed1{
    width: 318px;
    height: 44px;
    background: #ffffff;
    cursor: pointer;
}
.completed1 p{
    width: 85px;
    height: 20px;
    padding: 12px 117px 12px 116px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #251814;
}

/* mainCSS */
.main{
    display: inline-flex;
    flex-direction: column;
    width: 1120px;
    height: 475px;
    gap: 40px;
}
.header{
    width: 1120px;
    height: 100px;
    position: relative;
    background: #ffffff;
}
.heading{
    display: inline-flex;
    position: absolute;
    top: 24px;
    left: 36px;
    width: 1048px;
    height: 52px;
    gap: 818px;
}
.heading p{
    width: 85px;
    height: 35px;
    margin-top: 8.5px;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #251814;
}
.signout{
    width: 145px;
    height: 52px;
    position: relative;
    border-radius: 8px;
    background: #ba5112;
    cursor: pointer;
}
.item{
    display: inline-flex;
    width: 97px;
    height: 20px;
    padding: 16px 24px 16px 24px;
    gap: 16px;
}
.item p1{
    width: 65px;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}
.mdi--logout {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5M4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4z'/%3E%3C/svg%3E");
    background-color: #ffffff;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
.taskcontents{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    left: 80px;
    width: 960px;
    height: 335px;
    gap: 36px;
}
.dateheading{
    display: inline-flex;
    width: 958px;
    height: 35px;
    gap: 456px;
}
.dateheading p{
    width: 288px;
    height: 35px;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #251814;
}
.dateheading p1{
    width: 214px;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #251814;
}
.tasks{
    display: inline-flex;
    flex-direction: column;
    width: 960px;
    height: 264px;
    gap: 24px;
}
.task{
    width: 960px;
    height: 72px;
    border-radius: 12px;
    gap: 10px;
    box-shadow: 2px 2px 6px 0px #0000001A;
    color: #ffffff;
}
.checklist{
    display: inline-flex;
    position: relative;
    top: 22px;
    left: 24px;
    width: 266px;
    height: 28px;
    gap: 20px;
    cursor: pointer;
}
.mdi--checkbox-outline {
    display: inline-block;
    width: 28px;
    height: 28px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m0 2v14H5V5zm-9 12l-4-4l1.41-1.42L10 14.17l6.59-6.59L18 9'/%3E%3C/svg%3E");
    background-color: #edb046;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
.checklist p{
    width: 218px;
    height: 25px;
    font-weight: 400px;
    size: 20px;
    line-height: 25px;
    color: #251814;
}
