*{
    /* position:relative;
    opacity: 10%;
    width: 1609px;
    height: 1609px;
    top: -275px;
    left: 1609px;
    display: grid; */
    margin: 0;
    padding: 0;
    font-family: lexend;
}
body{
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;
    overflow:visible;
    background-color: #edb04683;
    position: fixed;
    z-index: -1
}
.img{
    position: absolute;
      top: -275px;
      left: 0;
      right: -169px;
      bottom: -310px;
      transform: rotateY(-180deg);
      width: 1609px;
      height: 1609px;
      background: url('bgimg.png') no-repeat center center;
      background-size: cover;
      opacity: 0.1;
      z-index: 1;
}
.signin{
    position: absolute;
    width: 1440px;
    height: 1024px;
    bottom: 0px;
    top:0px;
    /* top: 2751px;
    left: 824px; */
    gap: 0px;
    z-index: 1;
}
.main{
    position: relative;
    width: 902px;
    height: 742px;
    top: 138.5px;
    left: 269px;
    border-radius: 20px;
    gap: 10px;
    background: #EDB046;
    box-shadow: 4px 4px 16px 0px #0000001A;
}
.content{
    width: 702px;
    height: 582px;
    display: inline-grid;
    gap: 100px;
    padding: 80px 100px 80px 100px;
    opacity: 0px;
    align-items: center;
    

}
.title{
    display: inline-block;
    width: 357px;
    height: 116px;
    /* gap: 16px;
    opacity: 0px; */
    position: relative;
    margin: 0px 189px 0px 189px;
    /* top:8px;
    right: 289px;
    left: 289px;
    bottom: 587px; */
}
.title h1{
    width: 324px;
    height: 75px;
    margin-top: 0px;
    font-family: cursive;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 16px;;
    line-height: 75px;
    text-align: left;
    color: #BA5112
}
.title p{
    font-family: cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 19px;
    margin-right: 19px;
}
.form{
    position: relative;
    display: inline-block;
    width: 702px;
    height: 317px;
    margin: top 100px;
}
.input{
    position: relative;
    display: inline-grid;
    gap: 40px;
    width: 702px;
    height: 189px;
}
#username{
    gap: 10px;
    width: 702px;
    height: 73px;
    border-radius: 12px;
    border-color: transparent;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px 0px #0000001A;
    color: #B5B5B5;
    font-family: cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    padding:0px;
}
::placeholder{
    position: relative;
    left: 36px;
    width: 99px;
    height: 25px;
}
#password {
    width: 702px;
    height: 73px;
    border-radius: 12px;
    border-color: transparent;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px 0px #0000001A;
    color: #B5B5B5;
    font-family: cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.button{
    position:relative;
    width: 353px;
    height: 122px;
    right: 174.5px;
    left: 174.5px;
    bottom: 0px;
}
.sign_in{
    position: relative;
    right: 81.5px;
    left: 81.5px;
    display: inline-grid;
    width: 190px;
    height: 73px;
    gap: 10px;
    border-radius: 12px;
    opacity: 0px;
    box-shadow: 2px 2px 6px 0px #0000001A;
    background: #BA5112;
    cursor: pointer;
}
.sign_in p{
    width: 70px;
    height: 25px;
    padding: 24px 60px 24px 60px;
    font-family: cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: 0px;
    color: #251814
}
.button > p{
    position: relative;
    width: 377px;
    height: 25px;
    font-family: cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    top: 24px;
    margin: 0px;
    color: #FFFFFF;
    ;

}
.button > p a{
    color: #BA5112;
    cursor: pointer;
}
