*{
    margin:0px;
    font-family: lexend;
}
body{
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;
    overflow:visible;
    background-color: #edb04683;
    position: fixed;
    z-index: -1
}
.img{
    position: absolute;
      top: -275px;
      left: 0;
      right: -169px;
      bottom: -310px;
      transform: rotateY(-180deg);
      width: 1609px;
      height: 1609px;
      background: url('bgimg.png') no-repeat center center;
      background-size: cover;
      opacity: 0.1;
      z-index: 1;
}
.signin{
    position: absolute;
    width: 1440px;
    height: 1024px;
    bottom: 0px;
    top:0px;
    /* top: 2751px;
    left: 824px; */
    gap: 0px;
    z-index: 1;
}
.main{
    position: relative;
    width: 902px;
    height: 742px;
    top: 141.5px;
    left: 269.5px;
    bottom: 140px;
    right: 268px;
    border-radius: 20px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 4px 4px 16px 0px #0000001A;
}
.content{
    width: 702px;
    height: 582px;
    display: inline-flex;
    flex-direction: column;
    gap: 100px;
    padding: 80px 100px 80px 100px;
    opacity: 0px;
    align-items: center;
}
.title{
    display: inline-flex;
    flex-direction: column;
    width: 324px;
    height: 111px;
    gap: 16px;
    position: relative;
}
.title h1{
    margin-top: 0px;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;
    color: #BA5112;
}
.title p{
    width: 286px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 19px;
    margin-right: 19px;
}
.form{
    position: relative;
    display: inline-flex;
    width: 702px;
    height: 371px;
    margin: top 100px;
}
.input{
    position: relative;
    display: inline-grid;
    flex-direction: column;
    gap: 40px;
    width: 702px;
    height: 189px;
}
.username{
    gap: 10px;
    width: 702px;
    height: 73px;
    border-radius: 12px;
    border-color: transparent;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px 0px #0000001A;
    color: #B5B5B5;
    line-height: 25px;
    text-align: left;
    padding:0px;
}
#username{
    position: relative;
    background: transparent;
    outline: none;
    border: 0;
    font-size: 20px;
    left: 36px;
    top: 25px;
    width: 203px;
    height: 25px;
}
::placeholder{
    margin:0;
    padding:0;
    font-size: 20px;
    font-weight: 400;
}
#password{
    position: relative;
    background: transparent;
    outline: none;
    border: 0;
    left: 36px;
    top: 25px;
    font-size: 20px;
    width: 200px;
    height: 25px;
}
.password{
    display: -webkit-inline-flex;
    width: 702px;
    height: 73px;
    border-radius: 12px;
    border-color: transparent;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px 0px #0000001A;
    color: #B5B5B5;
    line-height: 25px;
    text-align: left;
}
.password img{
    width: 28px;
    height: 28px;
    position:relative;
    top: 24px;
    left: 438px;
}
.button{
    display: flex;
    gap: 24px;
    position: relative;
    width: 353px;
    height: 122px;
    right: 174.5px;
    left: 174.5px;
    bottom: 0px;
    flex-direction: column;
}
.sign_in{
    position: relative;
    right: 81.5px;
    left: 81.5px;
    display: inline-grid;
    width: 190px;
    height: 73px;
    gap: 10px;
    border-radius: 12px;
    opacity: 0px;
    box-shadow: 2px 2px 6px 0px #0000001A;
    background: #EDB046;
    cursor: pointer;
}
.sign_in p{
    width: 70px;
    height: 25px;
    padding: 24px 60px 24px 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: 0px;
    color: #251814
}
.button > p{
    position: relative;
    width: 353px;
    height: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: 0px;
    color: #251814;
}
.button > p a{
    color: #BA5112;
    cursor: pointer;
}
